@import "components/logo";
@import "main-menu";
@import "mobile-menu";

.header_upper_content{
    display: flex;
    height: 116px;
}
.header_upper_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-text{
    display: flex;
    flex-direction: column;
    color: #707070;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    padding: 5px 0 5px 20px;
    border-left: 2px solid #f0f0f0;
}
.header_contact_info_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_contact_info_box ul{
    padding: 0px;
}
.header_contact_info_box li{
    list-style: none;
    line-height: 14px;
}
.header_contact_info_box span{
    color: #707070;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 20px;
}
.header_contact_info_box .header_icon{
    max-height: 50px;
}
.header_contact_info_box i{
    font-size: 27px;
    color: $theme_color;
    margin-top: 6px;
    margin-right: 10px;
}
.header_contact_info .phone{
    /*font-family: 'Open Sans', 'Arial', sans-serif;*/
    font-weight: 500;
    color: $theme_color;
    line-height: 1.42857;
    font-size: 14px;
}
.header_contact_info{
    max-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_lower_content{
    background-color: $theme_color;
}