 .container{
     /*background-color: aqua;*/
     /*min-height: 100px;*/
     /*padding: 0px;*/
 }
 header{
 }

 .header_upper_content{
     display: flex;
     height: 116px;
 }
 .header_upper_container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }
 .navbar-header{
     display: flex;
     flex-direction: row;
     align-items: center;
 }
 .navbar-brand img{
     margin-right: 20px;
     margin-bottom: 15px;
 }
 .navbar-brand span{
     text-decoration: none;
     color: #3f4a41;
     font-size: 24px;
     font-weight: 300;
 }
 .navbar-text{
     display: flex;
     flex-direction: column;
     color: #707070;
     font-family: 'Open Sans', 'Arial', sans-serif;
     font-size: 14px;
     padding: 5px 0 5px 20px;
     border-left: 2px solid #f0f0f0;
 }
 .header_contact_info_box{
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 .header_contact_info_box ul{
     padding: 0px;
 }
 .header_contact_info_box li{
     list-style: none;
     line-height: 14px;
 }
 .header_contact_info_box span{
     color: #707070;
     font-family: 'Open Sans', 'Arial', sans-serif;
     font-size: 14px;
     line-height: 20px;
 }
 .header_contact_info_box .header_icon{
     max-height: 50px;
 }
 .header_contact_info_box i{
     font-size: 27px;
     color: #3f4a41;
     margin-top: 6px;
     margin-right: 10px;
 }
 .header_contact_info .phone{
     /*font-family: 'Open Sans', 'Arial', sans-serif;*/
     font-weight: 500;
     color: #3f4a41;
     line-height: 1.42857;
     font-size: 14px;
 }
 .header_contact_info{
     max-height: 60px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

 .header_lower_content{
     background-color: #3f4a41;
 }
 .header_lower_container{
 }
 .header_site_menu{}
 .header_menu_list{
     height: 64px;
     padding: 0px;
     display: flex;
     flex-direction: row;
 }
 .header_menu_list li{
     display: block;
     list_style: none;
     height: 100%;
 }
 .header_menu_list a{
     text-decoration: none;
     display: block;
     height: 100%;
     width: 100%;
     border-top: 2px solid transparent;
     color: #fff;
     font-size: 16px;
     line-height: 16px;
     font-weight: 300;
     padding: 20px 25px;
     white-space: nowrap;
 }
 .header_menu_list .current_page{
     border-top-color: #fdaa1b;
 }
 .header_menu_list a:hover{
     background-color: #19271c;
     border-top-color: #fdaa1b;
 }
 .mini_menu_button{
     background-color: #3f4a41;
     height: 32px;
     width: 40px;
     cursor: pointer;
     display: none;
     align-items: center;
     justify-content: center;
 }
 .mini_menu_button i{
     color: #fff;
     font-size: 20px;
 }
 .header_mini_menu_box{
     display: none;
     padding: 10px 0px 0px 20px;
 }
 .header_mini_menu{
     list-style: none;
     padding: 0;
 }
 .header_mini_menu li{
     padding-top: 10px;
     padding-bottom: 10px;
     line-height: 20px;
 }
 .header_mini_menu a{
     text-decoration: none;
     color: #777;
     font-family: 'Open Sans', 'Arial', sans-serif;
     font-size: 14px;
 }
 .header_mini_menu a:hover{
     color: #333;
 }
 .mini_phone{
     right: 30px;
     bottom: 15px;
     position: fixed;
     display: none;
     width: 60px;
     height: 60px;
     border-radius: 50%;
     background: #33bd33;
     z-index: 999;
     cursor: pointer;
     text-decoration: none;
 }
 .mini_phone i{
     color: #fff;
     font-size: 35px;
     width: 60px;
     line-height: 1.6;
     text-align: center;
     text-decoration: none;
     /*display: block;*/
 }

 footer{
     padding-top: 50px;
     padding-bottom: 60px;
     background-color: #3f4a41;
 }

.widgettitle{
    color: #ffae00;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 45px;
}
.clearfix li, .menu-primary-container li, .textwidget dl, #identx a, .contacts_list li{
    list-style-type: none;
    color: #ffffff;
}
 .clearfix li, #identx a{
     font-weight: 300;
 }
 #identx{
     margin-top: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 #identx .identx{
     text-decoration: none;
 }
 #identx span{
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     white-space: nowrap;
 }
 #identx span a{
     display: block;
     font-size: 11px;
     font-family: Arial Narrow, sans-serif;
     height: 14px;
     line-height: 1.6;
     margin-right: 5px;
 }
 #identx .logo_identx a{
     display: flex;
     align-items: center;
 }
 #identx .logo_identx a .first{
     margin-left: 4px;
     font-family: Arial Narrow, sans-serif;
     font-size: 16px;
     position: relative;
     display: flex;
     flex-direction: row;
 }
.green_letter{
     color: #41b359;
    text-decoration: none;
 }
.contacts_list a{
    color: #767d77;
    font-weight: 500;
}
.clearfix_list{
    padding: 0;
}
.clearfix li{
    display: block;
    height: 42px;
    padding-top: 8px;
}
.clearfix i{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
    margin: 0 15px 0 0;
}
.menu-primary-container a{
    text-decoration: none;
    color: #ffffff;
}
.site_menu{
    display: flex;
    flex-direction: column;
}
.menu_header{
}
.menu-primary-container li{
    display: block;
    height: 48px;
    border-bottom: 1px dashed #767d77;
}
.menu-primary-container .menu{
    padding: 0px;
}
 .menu-primary-container li a{
     display: block;
     width: 100%;
     height: 100%;
     padding-top: 10px;
 }
 .menu-primary-container li:last-child{
     border-bottom-style: none;
 }
 .menu-primary-container i{
     color: #fdaa1b;
     font-size: 14px;
     margin: 0 10px 0 0;
 }
.contacts_list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contacts_list ul{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contacts_list div{
    color: #ffffff;
}


.availability_list{
    margin-bottom: 60px;
}
.availability_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.availability_icon{
    height: 130px;
    width: 130px;
    background-color: #f0f0f0;
    border: 5px solid #f0f0f0;
    border-radius: 50%;
    margin: 0 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.availability_icon i{
    font-size: 50px;
    color: #707070;
}
.availability_head{
    text-align: center;
    color: #094a02;
    font-size: 30px;
    font-weight: 300;
    margin: 0 0 30px 0;
}
.availability_description{
    text-align: center;
    line-height: 26px;
    color: #707070;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    margin: 0 0 30px 0;
}

.advantages_list{
    margin-bottom: 150px;
}
.advantage_box{
    display: flex;
    flex-direction: row;
}
.advantage_icon{}
.advantage_icon i{
    color: #3c763d40;
    font-size: 40px;
    margin: 20px 30px 0 0;
    text-align: center;
    width: 60px;
}
.advantage_text{
    display: flex;
    flex-direction: column;
}
.advantage_text_head{
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 25px;
    color: #3f4a41;
    font-weight: 300;
}
.advantage_text_description{
    line-height: 26px;
    color: #707070;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
}


.entry-container{
    margin-bottom: 60px;
}
.entry-header{
    color: #3f4a41;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    margin: 50px 0px;
}
.entry-content{
    color: #707070;
    font-size: 14px;
    line-height: 1.42857;
}
.entry-h2{
    color: #3f4a41;
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
}
.entry-h3{
    font-size: 20px;
    color: #3f4a41;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
}
.entry-content p{
    font-family: 'Open Sans', 'Arial', sans-serif;
    display: block;
    margin: 0;
    line-height: 24px;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}