.main_content_col_box{
   margin-bottom: 30px;

   .main_content_box{
      border-bottom: 2px solid #f0f0f0;

      .main_content_image{
         height: 280px;
         width: 100%;
         position: relative;

         &:hover{
            .main_content_image_background{
               display: flex;
            }
         }

         a{
            text-decoration: none;
            display: block;
            height: 100%;
            width: 100%;

            img{
               height: 100%;
               width: 100%;
               position: absolute;
            }
            .main_content_image_background{
               display: none;
               justify-content: center;
               align-items: center;
               position: absolute;
               background-color: rgba(49, 49, 49, 0.5);
               width: 100%;
               height: 100%;
               z-index: 99;

               .main_content_image_background_circle{
                  width: 50px;
                  height: 50px;
                  background-color: rgba(49, 49, 49, 1);
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  i{
                     color: #FFFFFF;
                     font-size: 15px;
                  }
               }
            }
            .main_content_image_price{
               position: absolute;
               color: #fff;
               line-height: 1;
               background-color: #313131;
               padding: 8px 12px;
               left: 15px;
               bottom: 15px;
            }
         }
      }
      .main_content_maininfo{
         background-color: #fbfbfb;
         border-right: 1px solid #f0f0f0;
         border-left: 1px solid #f0f0f0;
         display: flex;
         flex-direction: column;
         padding: 20px 15px;

         .main_content_maininfo_address{
            margin-bottom: 5px;

            a{
               color: #222;
               text-decoration: none;
               font-size: 18px;
               font-weight: 300;
               white-space: nowrap;
            }
         }
         .main_content_maininfo_r_and_p{
            color: #b0b0b0;
            font-family: 'Open Sans', 'Arial', sans-serif;
            font-size: 14px;
            line-height: 1.42857;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            span{
               color: #707070;
            }
         }
      }
   }
}